html{
  background-color: rgb(158, 0, 0) ; }
#Foundation{
  display: inline-flex ;
  flex-direction: row ; 
  width: 50% ;
  height: 50% ;
  text-align: center ;
  margin: auto ;
  background-color: rgb(237, 231, 111) ; }
