html{
  background-color: rgb(158, 0, 0) ;
  display: inline-flex ;
  flex-direction: row ; }
header{
  color: white ;
}
#placement{
  width: 50% ;
  height: 50% ;
  text-align: center ;
  margin: auto ;
  background-color: rgb(237, 231, 111) ;
  color: black ;}
